<link rel="stylesheet" href="/css/signup.css">
<% if(locals.user && locals.user.role === 'admin') {%>
<div class="container ">
  <form
    class="form"
    action="/create-employee"
    method="POST"
  >
    <h3 class="mb-3 text-center">Add an employee</h3>

    <!-- Username input -->
    <div class="form-outline mb-2 ">
      <label class="label" for="username">User name</label>
      <input
        type="text"
        id="name"
        name="username"
        class="input"
        required
      />
    </div>

    <!-- Email input -->
    <div class="form-outline mb-2">
      <label class="label" for="email">Email address</label>
      <input
        type="email"
        id="email"
        name="email"
        class="input"
        required
      />
    </div>

    <!-- Password input -->
    <div class="form-outline mb-2">
      <label class="label" for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="input"
        required
      />
    </div>

    <!-- Confirm password input -->
    <div class="form-outline mb-2">
      <label class="label" for="confirm_password">Confirm password</label>
      <input
        type="password"
        id="confirm_password"
        name="confirm_password"
        class="input"
        required
      />
    </div>

    <div class="my-3 d-flex justify-content-between">

      <!-- Cancel button -->
      <a href="/admin-dashboard" 
        class="btn text-light  btn-block fw-semibold"       
        style="width: 45%;">      
          CANCEL
      </a>
      
      <!-- Add button -->
      <button
      type="submit"
      class="btn  fw-semibold"
      style="width: 45%"
      >
      ADD
    </button>
    
  </div>
      

    
</div>

<%} %>
